
{% extends 'dashboard.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div style="padding-left: 2rem;padding-top: 2rem;padding-bottom: 1em;background-color: #c9c1b1;">

    <h2>Fertilizer Product Form</h2>
    <form action="" method="POST" enctype="multipart/form-data" style="color: rgb(34, 29, 29);">
        {% csrf_token %}
        {{form|crispy}}
        
        
        <input type="submit" value="SEND" style="background-color: #3e36c3;color: white;margin-top: 1em;">

    </form>
</div>

<!-- /TABLE -->


{% endblock %}