{% extends 'dashboard.html' %}


{% block content %}


<div class="table-responsive table-shadow" style="background-color: bisque;padding-top: 2em;padding-bottom: 2em;">
    
    {% if loans %}
    <center>
    <table class="table" style="font-size: 20px;color: black;">
          <thead>
            <tr>
              <!-- <th scope="col">#</th> -->
              <th scope="col"> Name</th>
              <th scope="col" style="padding-left: 1em;">Email</th>
              <th scope="col" style="padding-left:1em">Loan type</th>
              <th scope="col" style="padding-left:1em">Amount</th>
              <th scope="col" style="padding-left:1em">Bank Name</th>
             
              <th scope="col" style="padding-left:1em">Status</th>
              {% if user.is_superuser %}
              <th scope="col" style="padding-left:1em">Update Status</th>
              {% endif %}

            
              

            </tr>
          </thead>
          <tbody style="margin-top: 1em;">
              {% for i in loans %}
            <tr style="background-color: #d9a3a3;margin-top: 2em;padding-bottom: 2em;border:2px solid black;" >
                <td>{{ i.user.username}}</td>
              <td style="padding-left: 1em;">{{ i.email}}</td>
              <td style="padding-left: 1em;">{{ i.loan_type}}</td>
              <td style="padding-left: 1em;">{{ i.amount}}</td>
              <td style="padding-left: 1em;">{{ i.bank_name}}</td>
              <td style="padding-left: 1em;">{{ i.status}}</td>
              {% if user.is_superuser %}
              <td style="padding-left: 1em;"><a href="{% url 'update_loan' i.id %}">Update Status</a></td>
              {% endif %}
              
              

             
            </tr>

            {% endfor %}

          </tbody>

    </table>
</center>
    {% else %}

    <span>No Doctors can be found...</span>
    {% endif %}

</div>
<!-- /TABLE -->

{% endblock %}