{% extends 'dashboard.html' %}


{% block content %}


<div class="table-responsive table-shadow" style="background-color: bisque;padding-top: 2em;padding-bottom: 2em;">
    
    {% if payments %}
    <center>
    <table class="table" style="font-size: 20px;color: black;">
          <thead>
            <tr>
              <!-- <th scope="col">#</th> -->
              <th scope="col">Name</th>
              <th scope="col" style="padding-left: 1em;">Amount</th>
              <th scope="col" style="padding-left:1em">Payment ID</th>
              
              <th scope="col" style="padding-left:1em">Animal Name</th>
             

              

            </tr>
          </thead>
          <tbody style="margin-top: 1em;">
              {% for i in payments %}
            <tr style="background-color: #d9a3a3;margin-top: 2em;padding-bottom: 2em;border:2px solid black;" >
                <td>{{ i.name}}</td>
              <td style="padding-left: 1em;">{{ i.amount}}</td>
              <td style="padding-left: 1em;">{{ i.payment_id}}</td>
             
              <td style="padding-left: 1em;">{{i.animal_name}}</td>
             
              

             
            </tr>

            {% endfor %}

          </tbody>

    </table>
</center>
    {% else %}

    <span>No Payments can be found...</span>
    {% endif %}

</div>
<!-- /TABLE -->

{% endblock %}